:root{
    --cor-hover: #fff
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit  ;
}

.menu {
    background-color: black;
    color: white;
    display: flex;
    justify-content: end;
    gap: 16px; 
    padding: 16px;
}

.menu a {
    padding: 8px;
    transition: .5s;
}

.menu a:hover{
    background-color: var(--cor-hover);
}
.menu img{
    height: 16px;
}
.container{
    background-color: lawngreen;
    height: 100%;
    padding: 30px;
    border-radius: 15px;
    width: 25%;
}
.supra{
    display: flex;
    background-color: blue;
    align-items: center;
}